@mixin flex-center($justify-content: center, $align-items: center) {
	display: flex;
	justify-content: center;
  align-items: center;
}

@mixin userProfile {
  display: inline-block;
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  border : 2px solid hotpink;
}

@mixin postTime {
  display: block;
  color: #dbdbdb;
}

