@import '../../../../styles/variables.scss';

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;

  .otherUserImg {
    @include userProfile;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }

  .postTime {
    @include postTime;
    font-size: 14px;
    font-weight: normal;
  }
}
